html{
    background-color: lightblue;
}
.sidebar{
    width: 215px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color:darkblue;
}
.sidebar-tittle{
    height: 50px;
    text-align: center;

}
.listItems{
    list-style: none;

}
li{
    width: 100%;
    margin-bottom: 1rem;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
    display: block;
    font-size: 15;
    color: white;
}
.main{
    margin-left: 215px;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 7px 7px 10px black;
    height: 70px;
    text-align: center;
    align-content: center;
    margin-bottom: 5px;
    background-color: darkblue;
}
.sidebar-tittle h2{
    text-align: center;
    align-content: center;
    margin-top: 10px;
    color: white;
    text-decoration: solid;
}
.home{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;

}
.card-body{
    padding: 5px;
    box-shadow: 7px 7px 10px white;
    /* background-color: blue; */
}

.dashboard{
    color: white;
}

.table{
    background-color: white;
}

h1, h2{
    color:white;
}